//Адаптив для больших экранов, до мобильной версии сайта
@media (min-width: 992px)
  .navbar
    &-menu
      &__item
        &:hover
          color: $secondary
  .menu        
    &__button
      &:hover
        box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
  .hero
    &-content
      &__link
        &:hover
          color: $secondary
          font-weight: bold
      &__button
        &:hover
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.36)
          background: $secondary
@media (max-width: 1300px)
  .hero
    width: 95%
  //Адаптив для планшетов
@media (max-width: 1200px)
  .container
    max-width: 900px
    background-position: 300px -377px
  .collection
    &-content
      width: 42%
      &__title
        margin-top: 0
  .collection
    &-imgs
      &__block
        margin-right: 38px
  .trending
    &-card
      width: 200px
      &__img
        height: 269px
  .story
    &-block
      width: 35%
      margin-right: 50px
    &-slide
      &__text
        width: 260px
@media ( max-width: 991px)
  .container
    max-width: 691px
  .hero
    background-position: 150px -377px
  .collection
    &-container
      flex-wrap: wrap
      margin-bottom: 80px
    &-imgs
      margin: auto
      &__block
        margin-right: 0
    &-content
      width: 100%
      &__title
        margin-top: 40px
        margin-bottom: 18px
      &__text
        margin-right: 0
        max-width: 100%
        margin-bottom: 30px
  .trending
    margin-bottom: 80px
    &__wrapper
      flex-direction: column
      margin-bottom: 56px
    &__title
      margin-bottom: 28px
    &-card
      width: 280px
      margin-bottom: 48px
      &__img
        height: 350px
  .testimonial
    &-container
      width: 100%
  .line
    margin-bottom: 80px
  .stories
    margin-bottom: 80px
    &-wrapper
      flex-direction: column
  .story
    &-block
      align-items: center
      margin-right: 0
      width: 100%
    &-hashtag
      margin-bottom: 24px
    &__title
      margin-bottom: 16px
    &__text
      margin-bottom: 128px
      text-align: center
    &-buttons
      top: 240px
      left: 50%
      margin-left: -67px
      width: 134px
    &-slide
      &__text
        width: 312px
        padding-right: 42px
//Адаптив для мобильной версии
@media ( max-width: 768px)
  body
    margin-top: 102px
  .container
    width: 85%
  .menu
    display: none
    position: relative
    padding: 36px 24px
    width: 80%
    // width: 304px
    // height: 324px
    background-color: $light
    &_visible
      display: block
      position: absolute
      top: 10px
      left: 50%
      transform: translate(-50%, 0)
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
    &__button
      margin: 0
      width: 100%
  .close
    &_visible
      display: block
      position: absolute
      right: 16px
      top: 12px
      border: none
      background-color: transparent
      cursor: pointer
  .navbar
    &-menu
      flex-direction: column
      width: 322px
      &__li
        margin-bottom: 20px
    &__button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
  .hero
    background-position: 0 -377px
    height: 624px
    padding-top: 36px
    padding-left: 28px
    margin-bottom: 80px
    &-content
      min-height: 552px
      &__title
        max-width: 407px
        font-size: 48px
        line-height: 60px
        margin-bottom: 20px
      &__text
        max-width: 400px
        font-size: 18px
        line-height: 32px
        margin-bottom: 36px
      &__button
        margin-bottom: 40px
      &__link
        margin-right: 20px
  .hashtag
    margin-bottom: 24px
  .collection
    &-container
      width: 90%
      max-width: 672px
  .trending
    &__wrapper
      flex-direction: column
      margin-bottom: 56px
    &__title
      margin-bottom: 28px
    &-card
      width: 230px
      margin-bottom: 48px
      &__img
        height: 330px
  .testimonial
    &-container
      padding: 10px 0 41px 0
      width: 100%
    &-slide
      &__img
        margin-bottom: 22px
      &__comment
        margin-bottom: 36px
@media (max-width: 576px)
  body
    margin-top: 88px
  .title
    font-size: 28px
    line-height: 36px
    text-align: center
  .hero
    background-position: 55% 55%
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url("../img/hero/hero-bcg.png")
    height: 900px
    width: 100%
    padding-top: 381px
    padding-left: 0px
    padding-bottom: 36px
    margin-bottom: 64px
    &-content
      align-items: center
      &__title
        font-size: 32px
        line-height: 40px
        text-align: center
      &__text
        font-size: 16px
        line-height: 28px
        text-align: center
        max-width: 280px
        margin-bottom: 24px
      &__button
        font-size: 16px
        line-height: 22px
        margin-bottom: 22px
        width: 233px
        padding: 13px 24px
      &__icons
        flex-wrap: wrap
        justify-content: center
        max-width: 277px
      &__border
        padding: 2px
        border: none
        width: 24px
        height: 24px
      &__img
        padding: 0
      &__link
        margin-right: 16px
        font-size: 16px
        line-height: 20px
        margin-bottom: 16px
        justify-content: center
  .hashtag
    margin-bottom: 20px
    padding-right: 26px
    padding-left: 26px
  .collection
    &-container
      margin-bottom: 64px
    &-imgs
      margin: auto
      flex-wrap: wrap
      &__block
        margin-right: 0
        display: flex
        flex-wrap: nowrap
        margin-bottom: 36px
        width: 100%
        &-img
          width: 100%
          height: 150px
        &-mb
          margin-bottom: 0
          margin-right: 14px
      &__img
        margin-right: 0
        margin-bottom: 14px
        width: 100%
        height: 300px
    &-content
      width: 100%
      display: flex
      flex-direction: column
      &__title
        margin-top: 0px
        margin-bottom: 16px
      &__text
        margin-right: 0
        margin-bottom: 24px
        max-width: 100%
        margin-bottom: 30px
        font-size: 16px
        line-height: 28px
        text-align: center
      &__link
        font-size: 16px
        line-height: 22px
      &__arrow
        margin-left: 30px
  .trending
    &__wrapper
      margin-bottom: 36px
    &__title
      margin-bottom: 24px
    &-category
      &__link
        font-size: 16px
        line-height: 22px
    &-card
      margin-bottom: 20px
      width: 200px
      &__img
        height: 264px
        margin-bottom: 13px
      &__title
        font-size: 16px
        line-height: 20px
        padding-left: 0
    &-purchase
      padding: 0
      justify-content: flex-start
      &__price
        font-size: 14px
        line-height: 24px
        margin-right: 9px
  .testimonial
    margin-bottom: 48px
    &-container
      padding: 10px 0 29px 0
    &-slide
      &__img
        width: 70px
        height: 60px
        margin-bottom: 23px
      &__comment
        font-size: 18px
        line-height: 36px
        letter-spacing: 0.12px
        margin-bottom: 24px
@media (max-width: 480px)
  .collection-imgs__block-img
    width: 100%
    height: 97px
  .trending
    &-card
      width: 140px
      &__img
        height: 170px
///Адаптив для горизонтальной ориентации экрана
//@media screen and (max-height: 530px)
