*
  box-sizing: border-box
@font-face
  font-family: "HK Grotesk"
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"), url("../fonts/HKGrotesk-Regular.woff2") format("woff2")
  font-weight: 400
@font-face
  font-family: "HK Grotesk"
  src: url("../fonts/HKGrotesk-SemiBold.woff") format("woff"), url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2")
  font-weight: 600
@font-face
  font-family: "HK Grotesk"
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff"), url("../fonts/HKGrotesk-Bold.woff2") format("woff2")
  font-weight: 700
body
  font-family: 'Open Sans', sans-serif
  color: $primary
  margin-top: 136px
.container
  width: 1140px
  margin: auto
img
  max-width: 100%
button
  cursor: pointer
  outline: none
.title
  font-family: HK Grotesk
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  color: $primary
