.hero
  position: relative
  width: 1280px
  height: 700px
  margin: auto
  border-radius: 8px 
  background-position: 358px -377px
  background-color: #E8EAE9
  background-image: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url("/img/hero/hero-bcg.png")
  background-repeat: repeat-y
  padding-top: 62px
  padding-left: 107px
  &-content
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    max-width: 652px
    min-height: 592px
.hashtag
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 20px
  background: rgba($hesh, 0.1)
  border-radius: 2000px
  color: $hesh
  padding: 6px 16px
